@charset "UTF-8";

/* Brand colors */
:root {
    --primary-color: #6600cc;
    --dark-primary-color: #3e007c;
    --light-primary-color: #dbc0f7;
    --text-icon-color: white;
    --accent-color: #9966ff;
    --primary-text-color: black;
    --secondary-text-color: #1f013d;
    --divider-color: grey;
}

/* Navigation */
nav {
    background-color: var(--light-primary-color);
    color: var(--primary-text-color);
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    align-items: baseline;
}

nav>img {
    padding: 0.5rem;
    height: 3rem;
    width: auto;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav>ul>li {
    margin: 0 2rem;
}

/* Base Style */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "body"
        "footer";
}

main {
    padding: 1em;
}

/* Footer */
footer {
    background-color: var(--light-primary-color);
    color: var(--primary-text-color);
    grid-area: footer;
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}